.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  .container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .form {
    padding:10px;
  }
  
  .container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .container form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .container form input[type="text"],
  .container form input[type="email"],
  .container form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .container form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  .container form input[type="submit"]:hover {
    background-color: #45a049;
  }